designs/services/Firstclientservice.json
[
    {
        "id": "sd_ePmJ419ih2hbivft",
        "type": "tab",
        "createdDate": "2021-07-13T23:00:35.964Z",
        "relativeParentPath": "",
        "label": "Firstclientservice",
        "disabled": false,
        "info": "",
        "generateNext": true,
        "serviceName": "Firstclientservice"
    },
    {
        "id": "sd_Zo1ANyuvXogXX8pk",
        "type": "Start",
        "z": "sd_ePmJ419ih2hbivft",
        "viewType": "common",
        "nodeType": "start",
        "name": "myclientstart",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "myInput",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [
            {
                "key": "mylocalvar",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            },
            {
                "key": "mynumber",
                "defaultValue": {
                    "type": "num",
                    "value": ""
                },
                "output": false
            }
        ],
        "accept_bh": false,
        "functionName": "myclientstart",
        "category": "General",
        "__n_excludedFromValidation__": {},
        "x": 65,
        "y": 140,
        "wires": [
            [
                "sd_2pjZRGVcgw4HCrXs"
            ]
        ],
        "generateNext": true,
        "serviceName": "Firstclientservice"
    },
    {
        "id": "sd_MqadWKtA0pTD5kBj",
        "type": "Log",
        "z": "sd_ePmJ419ih2hbivft",
        "viewType": "client",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "\"value is equal to 10\"",
        "functionName": "sd_MqadWKtA0pTD5kBj",
        "category": "General",
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "str",
                "value": "value is equal to 10",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "x": 705,
        "y": 420,
        "wires": [],
        "generateNext": true,
        "serviceName": "Firstclientservice"
    },
    {
        "id": "sd_2pjZRGVcgw4HCrXs",
        "type": "Script",
        "z": "sd_ePmJ419ih2hbivft",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log('Received output',bh.input.myInput)\n// console.log('mylocalvariable',bh.local.mylocalvar)\n\nbh.local.mylocalvar = {\n    'firstName':'changed '+bh.input.myInput.firstName,\n    'lastName':'changed '+bh.input.myInput.lastName\n}\n\n// throw new Error(\"Throwing an Error\")\n\nbh.local.mynumber = 10",
        "functionName": "sd_2pjZRGVcgw4HCrXs",
        "category": "Function",
        "__n_excludedFromValidation__": {},
        "x": 160,
        "y": 140,
        "wires": [
            [
                "sd_c9DexJ1dYKQIzNxr"
            ]
        ],
        "generateNext": false,
        "generated": true,
        "serviceName": "Firstclientservice"
    },
    {
        "id": "sd_hzzrmQDHoK4Cmam3",
        "type": "Comments",
        "z": "sd_ePmJ419ih2hbivft",
        "viewType": "common",
        "nodeType": "flow",
        "name": "comment about myclient service",
        "comments": "<p>Received registrationForm value from home page and accessed it in script node to console log, then assigned altered registrationForm value to mylocal variable, then in the log node we have given bh.local to console log.</p>",
        "category": "General",
        "__n_excludedFromValidation__": {},
        "x": 645,
        "y": 240,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_fQfYJD10CD19SMvk",
        "type": "Start",
        "z": "sd_ePmJ419ih2hbivft",
        "viewType": "common",
        "nodeType": "start",
        "name": "anotherstart",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [
            {
                "key": "anothervar",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "accept_bh": false,
        "functionName": "anotherstart",
        "category": "General",
        "__n_excludedFromValidation__": {},
        "x": 65,
        "y": 240,
        "wires": [
            [
                "sd_qpwAbk6mMSo6sZpG"
            ]
        ],
        "generateNext": true,
        "serviceName": "Firstclientservice"
    },
    {
        "id": "sd_amqyPahNbN8v5u6R",
        "type": "Log",
        "z": "sd_ePmJ419ih2hbivft",
        "viewType": "client",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "bh.local.anothervar",
        "functionName": "sd_amqyPahNbN8v5u6R",
        "category": "General",
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "bh.local",
                "value": "anothervar",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "x": 385,
        "y": 240,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_GpQrAv4g1PWF0g2X",
        "type": "CallService",
        "z": "sd_ePmJ419ih2hbivft",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "id": "sd_ePmJ419ih2hbivft",
            "type": "tab",
            "createdDate": "2021-07-13T23:00:35.964Z",
            "relativeParentPath": "",
            "label": "Firstclientservice",
            "disabled": false,
            "info": ""
        },
        "flow": {
            "flowId": "sd_fQfYJD10CD19SMvk",
            "flowName": "anotherstart"
        },
        "inputVariables": [],
        "outputMapping": [],
        "callService": "./Firstclientservice",
        "startName": "anotherstart",
        "inputParams": [],
        "accept_bh": false,
        "functionName": "sd_GpQrAv4g1PWF0g2X",
        "category": "General",
        "__n_excludedFromValidation__": {},
        "x": 645,
        "y": 140,
        "wires": [
            []
        ],
        "generateNext": true
    },
    {
        "id": "sd_8FOKR0TvdktwG1jM",
        "type": "Script",
        "z": "sd_ePmJ419ih2hbivft",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "// bh.local.anothervar = \"Another data from second flow\"\nconsole.log(\"Another var value\")",
        "functionName": "sd_8FOKR0TvdktwG1jM",
        "category": "Function",
        "__n_excludedFromValidation__": {},
        "x": 265,
        "y": 240,
        "wires": [
            [
                "sd_amqyPahNbN8v5u6R"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_5E6WgqDuTeGjpDnB",
        "type": "Catch",
        "z": "sd_ePmJ419ih2hbivft",
        "viewType": "common",
        "nodeType": "start",
        "name": "mycatchnode",
        "selectedNodes": "all-nodes",
        "selectCatchType": "allnodes",
        "masternodeList": "",
        "ignoreList": [
            "sd_zZneiaIJE4VQLp8x"
        ],
        "functionName": "mycatchnode",
        "category": "General",
        "__n_excludedFromValidation__": {},
        "x": 65,
        "y": 40,
        "wires": [
            [
                "sd_zZneiaIJE4VQLp8x"
            ]
        ],
        "generateNext": true,
        "serviceName": "Firstclientservice"
    },
    {
        "id": "sd_zZneiaIJE4VQLp8x",
        "type": "Script",
        "z": "sd_ePmJ419ih2hbivft",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(\"Exception caught\")\nconsole.log(bh.error)",
        "functionName": "sd_zZneiaIJE4VQLp8x",
        "category": "Function",
        "__n_excludedFromValidation__": {},
        "x": 165,
        "y": 40,
        "wires": [
            []
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_6M84ofoYZkIh5dUd",
        "type": "Environment",
        "z": "sd_ePmJ419ih2hbivft",
        "viewType": "client",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "bh.local",
                    "value": "myproperty"
                },
                "envProperty": "myproperty"
            },
            {
                "flowVar": {
                    "type": "bh.local",
                    "value": "ssdURL"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_6M84ofoYZkIh5dUd",
        "category": "General",
        "__n_excludedFromValidation__": {},
        "x": 745,
        "y": 140,
        "wires": [
            []
        ],
        "generateNext": true
    },
    {
        "id": "sd_PTVfSHDAMzcW2cTy",
        "type": "Navigation",
        "z": "sd_ePmJ419ih2hbivft",
        "viewType": "client",
        "nodeType": "flow",
        "name": "",
        "path": "/child",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_PTVfSHDAMzcW2cTy",
        "category": "General",
        "__n_excludedFromValidation__": {},
        "x": 645,
        "y": 60,
        "wires": [
            []
        ],
        "generateNext": true
    },
    {
        "id": "sd_h62aFP8k7CNiL4Q4",
        "type": "SnackBar",
        "z": "sd_ePmJ419ih2hbivft",
        "viewType": "client",
        "nodeType": "flow",
        "name": "mysnackbar",
        "message": {
            "type": "str",
            "value": "Click ok"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "mysnackbar",
        "category": "General",
        "__n_excludedFromValidation__": {},
        "x": 745,
        "y": 60,
        "wires": [
            []
        ],
        "generateNext": true
    },
    {
        "id": "sd_JtEwjnn95S3mkcKy",
        "type": "Async",
        "z": "sd_ePmJ419ih2hbivft",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "flowNodes": [
            {
                "serviceId": "sd_ePmJ419ih2hbivft",
                "serviceName": "Firstclientservice",
                "flowId": "sd_fQfYJD10CD19SMvk",
                "flowName": "anotherstart",
                "functionName": "anotherstart",
                "inputParams": [],
                "inputVariables": [],
                "accept_bh": false,
                "relativePath": "./Firstclientservice"
            },
            {
                "serviceId": "sd_ePmJ419ih2hbivft",
                "serviceName": "Firstclientservice",
                "flowId": "sd_sevIn5akHAIuY7iy",
                "flowName": "onemorestart",
                "functionName": "onemorestart",
                "inputParams": [],
                "inputVariables": [],
                "accept_bh": false,
                "relativePath": "./Firstclientservice"
            }
        ],
        "_flowNodes": [
            {
                "serviceId": "sd_ePmJ419ih2hbivft",
                "serviceName": "Firstclientservice",
                "flowId": "sd_fQfYJD10CD19SMvk",
                "flowName": "anotherstart",
                "functionName": "anotherstart",
                "inputParams": [],
                "inputVariables": [],
                "accept_bh": false,
                "relativePath": "./Firstclientservice"
            },
            {
                "serviceId": "sd_ePmJ419ih2hbivft",
                "serviceName": "Firstclientservice",
                "flowId": "sd_sevIn5akHAIuY7iy",
                "flowName": "onemorestart",
                "functionName": "onemorestart",
                "inputParams": [],
                "inputVariables": [],
                "accept_bh": false,
                "relativePath": "./Firstclientservice"
            }
        ],
        "resultMapping": "bh.local.result",
        "functionName": "sd_JtEwjnn95S3mkcKy",
        "category": "Function",
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "result",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "x": 745,
        "y": 240,
        "wires": [
            []
        ],
        "generateNext": true
    },
    {
        "id": "sd_sevIn5akHAIuY7iy",
        "type": "Start",
        "z": "sd_ePmJ419ih2hbivft",
        "viewType": "common",
        "nodeType": "start",
        "name": "onemorestart",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "accept_bh": false,
        "functionName": "onemorestart",
        "category": "General",
        "__n_excludedFromValidation__": {},
        "x": 65,
        "y": 340,
        "wires": [
            [
                "sd_kNacgkgUiIAfL3Tl"
            ]
        ],
        "generateNext": true,
        "serviceName": "Firstclientservice"
    },
    {
        "id": "sd_kNacgkgUiIAfL3Tl",
        "type": "Log",
        "z": "sd_ePmJ419ih2hbivft",
        "viewType": "client",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "\"One more start method to execute\"",
        "functionName": "sd_kNacgkgUiIAfL3Tl",
        "category": "General",
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "str",
                "value": "One more start method to execute",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "x": 160,
        "y": 340,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_icNKUfTAbvOSEN8Z",
        "type": "ServiceVariables",
        "z": "sd_ePmJ419ih2hbivft",
        "viewType": "common",
        "nodeType": "flow",
        "name": "setting variable",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "formdata",
                "typedIpValue": {
                    "type": "bh.input",
                    "value": "myInput"
                }
            }
        ],
        "functionName": "settingVariable",
        "category": "Function",
        "__n_excludedFromValidation__": {},
        "x": 625,
        "y": 340,
        "wires": [
            []
        ],
        "generateNext": true
    },
    {
        "id": "sd_I1tkZwINI6bNMMNT",
        "type": "CallService",
        "z": "sd_ePmJ419ih2hbivft",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "noerr": 0,
        "service": {
            "id": "sd_ePmJ419ih2hbivft",
            "type": "tab",
            "createdDate": "2021-07-13T23:00:35.964Z",
            "relativeParentPath": "",
            "label": "Firstclientservice",
            "disabled": false,
            "info": ""
        },
        "flow": {
            "flowId": "sd_fQfYJD10CD19SMvk",
            "flowName": "anotherstart"
        },
        "inputVariables": [],
        "outputMapping": [],
        "callService": "./Firstclientservice",
        "startName": "anotherstart",
        "inputParams": [],
        "accept_bh": false,
        "functionName": "sd_I1tkZwINI6bNMMNT",
        "category": "General",
        "__n_excludedFromValidation__": {},
        "x": 745,
        "y": 340,
        "wires": [
            []
        ],
        "generateNext": true
    },
    {
        "id": "sd_qpwAbk6mMSo6sZpG",
        "type": "ServiceVariables",
        "z": "sd_ePmJ419ih2hbivft",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "get",
        "globalVariables": [
            {
                "textIp": "formdata",
                "typedIpValue": {
                    "type": "bh.local",
                    "value": "anothervar"
                }
            }
        ],
        "functionName": "sd_qpwAbk6mMSo6sZpG",
        "category": "Function",
        "__n_excludedFromValidation__": {},
        "x": 165,
        "y": 240,
        "wires": [
            [
                "sd_8FOKR0TvdktwG1jM"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_CdV7q6kB1gIEHKdQ",
        "type": "Switch",
        "z": "sd_ePmJ419ih2hbivft",
        "viewType": "common",
        "nodeType": "flow",
        "name": "myswitch",
        "property": "mynumber",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.mynumber",
        "rules": [
            {
                "t": "eq",
                "v": "10",
                "vt": "num",
                "gv": "10"
            },
            {
                "t": "lt",
                "v": "10",
                "vt": "num",
                "gv": "10"
            },
            {
                "t": "gt",
                "v": "10",
                "vt": "num",
                "gv": "10"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "functionName": "myswitch",
        "category": "Function",
        "__n_excludedFromValidation__": {},
        "x": 605,
        "y": 480,
        "wires": [
            [
                "sd_MqadWKtA0pTD5kBj"
            ],
            [
                "sd_jv7p6zT1kHskHpGk"
            ],
            [
                "sd_EYLe1tRyDBApEEFm"
            ]
        ],
        "generateNext": true
    },
    {
        "id": "sd_jv7p6zT1kHskHpGk",
        "type": "Log",
        "z": "sd_ePmJ419ih2hbivft",
        "viewType": "client",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "\"value is less than 10\"",
        "functionName": "sd_jv7p6zT1kHskHpGk",
        "category": "General",
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "str",
                "value": "value is less than 10",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "x": 785,
        "y": 480,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_EYLe1tRyDBApEEFm",
        "type": "Log",
        "z": "sd_ePmJ419ih2hbivft",
        "viewType": "client",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "\"value is greater than 10\"",
        "functionName": "sd_EYLe1tRyDBApEEFm",
        "category": "General",
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "str",
                "value": "value is greater than 10",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "x": 685,
        "y": 520,
        "wires": [],
        "generateNext": true
    },
    {
        "id": "sd_c9DexJ1dYKQIzNxr",
        "type": "HttpRequest",
        "z": "sd_ePmJ419ih2hbivft",
        "viewType": "client",
        "nodeType": "flow",
        "name": "namesdatahttprequest",
        "method": "get",
        "methodMappingObj": {},
        "urlValue": "https://raw.githubusercontent.com/Manikantha-M/files/main/names.json",
        "urlMappingObj": {},
        "ret": "json",
        "retMappingObj": {},
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": ""
        },
        "resultMapping": "bh.local.jsondata",
        "resultMappingObj": {
            "mapVarType": "bh.local",
            "mapVarValue": "jsondata"
        },
        "headers": {},
        "headersObj": [],
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMappingObj": {},
        "functionName": "namesdatahttprequest",
        "category": "HTTP",
        "__n_excludedFromValidation__": {},
        "x": 265,
        "y": 140,
        "wires": [
            [
                "sd_FAkLI9XgCnkEvQAI"
            ]
        ],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_AIb9f8J5EK5hNPth",
        "type": "Log",
        "z": "sd_ePmJ419ih2hbivft",
        "viewType": "client",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "bh.local.jsondata",
        "functionName": "sd_AIb9f8J5EK5hNPth",
        "category": "General",
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "bh.local",
                "value": "jsondata",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "x": 465,
        "y": 140,
        "wires": [],
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_FAkLI9XgCnkEvQAI",
        "type": "Storage",
        "z": "sd_ePmJ419ih2hbivft",
        "viewType": "client",
        "nodeType": "flow",
        "name": "mystorage",
        "operationType": "setItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "ourteam"
        },
        "value": {
            "type": "bh.local",
            "value": "jsondata"
        },
        "resultMapping": {},
        "functionName": "mystorage",
        "category": "Storage",
        "__n_excludedFromValidation__": {},
        "x": 365,
        "y": 140,
        "wires": [
            [
                "sd_AIb9f8J5EK5hNPth"
            ]
        ],
        "generateNext": false,
        "generated": true
    }
]
